@use "../abstracts/_variables.scss";
@use "../abstracts/_placeholders.scss";

@media screen and (min-width: $breakpoint-mobile) and (max-width: ($breakpoint-tablet - 1)) {
  footer {
    background-color: $secondary-bg-color;
  }

  .footer-end {
    display: flex;
    flex-direction: column-reverse;
        
    padding: 12px 55px;
  }

  .footer-end * {
    margin: 5px 0;

    color: $white1;

    text-align: center;

    flex-basis: 0;
    flex-grow: 1;
  }

  .footer-copyright {
    justify-content: left;
  }

  .footer-socials ul {
    display: inline-flex;
    overflow: hidden;
    
    list-style-position: inside;
    list-style-type: none;
    
    li {
      margin: 0 18px;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
    footer {
      padding: 20px 0;
      
      background-color: $secondary-bg-color;
    }

    .footer-end {
      display: flex;
      
      padding: 12px 12.5% 0;
    }

    .footer-end * {
      flex-basis: 0;
      flex-grow: 1;
    }

    .footer-copyright {
      color: $white1;
      justify-content: left;
    }

    .footer-socials {
      color: $white1;
      text-align: right;

      ul {
        display: inline-flex;
        overflow: hidden;
        
        text-align: right;
        
        list-style-position: inside;
        list-style-type: none;
        
        li {
          margin: 0 18px;
        }
      }
    }
}