form input { 
    margin-left: 8px;

    color: black;

    clear: both;
    float: right;
    border: none;
    outline: none;
}

form button {
    margin-left: 5px;
    color: black;
}

form textarea {
    margin-left: 5px;
    margin-bottom: 10px;

    color: black;
    
    resize: none;
}