@use "../abstracts/_variables.scss";

@media screen and (min-width: $breakpoint-mobile) and (max-width: ($breakpoint-tablet - 1)) {
  .grid-footer-container {
    display: grid;

    gap: 10px;
    background-color: $secondary-bg-color;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". a ."
    ". b ."
    ". c ."
    ". d .";
  }

  .grid-footer-container * {
    color: $white1;
  }

  .grid-footer-info {
      grid-area: a;
  }

  .grid-footer-product {
      grid-area: b;
  }

  .grid-footer-pages {
      grid-area: c;
  }

  .grid-footer-contact {
      grid-area: d;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .grid-footer-container {
    display: grid;

    gap: 10px;
    grid-template-columns: 2fr 3fr 3fr 3fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". a b c d .";
  }

  .grid-footer-container * {
    color: $white1;
  }

  .grid-footer-info {
      grid-area: a;
  }

  .grid-footer-product {
      grid-area: b;
  }

  .grid-footer-pages {
      grid-area: c;
  }

  .grid-footer-contact {
      grid-area: d;
  }
}