<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">                                                              <!-- charset is an attribute that sets what kind of characters will be used in the website. -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">              <!-- viewport is an attribute specifies how the website will react to a certain device -->
        <!-- bootstrap stylesheet-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- W3 Stylesheet -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Stylesheet-->
        <link rel="stylesheet" type="text/css" href="./dist/css/main.css">
        <!-- jquery script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- bootstrap script -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/79e86895a5.js" crossorigin="anonymous"></script>

        <title>FlickQuest</title>
    </head>

    <body>
        <header class="text-center">

            <div class="header-hamburger-menu">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <div class="nav-mobile w3-animate-right">
                    <a href="/">Home</a>
                    <a href="">About Me</a>
                    <a href="">Blog</a>
                    <a href="">Store</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>

            <div class="text-position">
                <h1>FlickQuest</h1>
                <h3>Where Good Media Stays</h3>
            </div>

            <ul class="header-page-navigation">
                <li><a href="">About Me</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="">Store</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="header-misc-navigation">
                <li><a href="">Search</a></li>
                <li><a href="">Cart</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </header>

        <nav class="primary-navigation">
            <ul class="socials-navigation">
                <li><a href="#"><i class="fab fa-facebook fa-sm"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter fa-sm"></i></a></li>
                <li><a href="#"><i class="fab fa-google fa-sm"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin fa-sm"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube fa-sm"></i></a></li>
            </ul>
            <ul class="page-navigation">
                <li><a href="">About Me</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="">Store</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="misc-navigation">
                <li><a href="">Search</a></li>
                <li><a href="">Cart</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>

        <div class="auth-container" id="contact-form">
            <h1>Contact form</h1>
            <br>
            <form 
            action="https://formspree.io/f/xwppjqob"
            method="POST"
            >
                <label for="name">Full name:</label>
                <input type="text" id="name" name="name" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="name" name="name" required>
                <br>
                <label for="emailmessage">Email Messages:</label>
                <br>
                <textarea id="message" name="message" rows="4" cols="50" required></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <footer>
            <div class="grid-footer-container">
                <div class="grid-footer-info">
                    <h3>FlickQuest</h3>
                    <hr class="small-hr">
                    <p>
                        Welcome to FLickQuest, your go-to place for finding good media whether you are looking for books, movies or games. This website has it all, if you need any help feel free to contact the developer.
                    </p>
                </div>
                <div class="grid-footer-product">
                    <h3>Products</h3>
                    <hr class="small-hr">
                    <ul class="list_style_remove">
                        <li><a href="">Games</a></li>
                        <li><a href="">Music</a></li>
                        <li><a href="">Art</a></li>
                        <li><a href="">Books</a></li>
                    </ul>
                </div>
                <div class="grid-footer-pages">
                    <h3>Navigation</h3>
                    <hr class="small-hr">
                    <ul class="list_style_remove">
                        <li><a href="">About Me</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="">Store</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="grid-footer-contact">
                    <h3>Contacts</h3>
                    <hr class="small-hr">
                    <ul class="list_style_remove">
                        <li><i class="fas fa-home fa-sm"></i> Location Name</li>
                        <li><i class="fas fa-envelope fa-sm"></i> Gmail</li>
                        <li><i class="fas fa-phone fa-sm"></i> Phone no</li>
                    </ul>
                </div>
            </div>

            <div class="footer-end">
                <div class="footer-copyright">@ 2025 Copyright Company Name</div>

                <div class="footer-socials">
                    <ul class="list_style_remove">
                        <li><a href="#"><i class="fab fa-facebook fa-sm"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter fa-sm"></i></a></li>
                        <li><a href="#"><i class="fab fa-google fa-sm"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin fa-sm"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube fa-sm"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- This is for static javascript files. -->
        <script type="text/javascript" src="/dist/js/main.js"></script>
    </body>
</html>