.overlay {
    position: absolute; 
    left: 0;
    top: 0;
  }
  
.overlay_cover {
  height: auto;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}
  
.overlay_text_cover_left {
  left: 0;
  top: 0;
  bottom: 0;
      
  width: 45%;
  
  background: rgba(73, 92, 133, 0.5);
  color: whitesmoke;
}

.overlay_cover_center {
  left: 0;
  right: 0;
      
  display: flex;
  width: 100%;
  padding: 20px 0;
  margin: 34% auto;
  
  background: rgba(73, 92, 133, 0.5);
  color: whitesmoke;

  text-align: center;
}