$breakpoint-mobile: 360px;
$breakpoint-tablet: 720px;
$breakpoint-desktop: 1024px;

$primary-bg-color: #8D8D92;
$secondary-bg-color: #36413E;
$tertiary-bg-color: #530942;

$primary-text-color: #D00440;
$secondary-text-color: #B10541;
$tertiary-text-color: #910641;

$white1: #f2f2f2;
$white2: #F4F3F2;
$black1: #333333;
$black2: #333A3F;
